# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.VC.db
*.VC.opendb
*.sln
*.opensdf
*.sdf

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
Build/

# Rider / VSCode
.idea/
.vscode/